Package: XBT
Version: 4.0
Architecture: all
Essential: no
Priority: optional
Depends:
Maintainer: Patrick Murphy
Description: XBT is a program that makes keep all of your user data backed up on a dedicated External USB drive easy.
